@model Car_Hire_Services__CHS_.Models.Cars

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 m-auto">
            <div class="card mt-4">
                <div class="card-header text-center text-white bg-primary">
                    <h3>History of Cars To Be Edited</h3>
                </div>

                <div class="card-body">
                    <form asp-controller="Admin" asp-action="EditPost" method="post">
                        <input type="hidden" asp-for="Id" />

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" />
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="YearOfManifacture" class="control-label"></label>
                                    <input asp-for="YearOfManifacture" class="form-control" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Type" class="control-label"></label>
                                    <input asp-for="Type" class="form-control" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label"></label>
                                    <input asp-for="Description" class="form-control" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Brand" class="control-label"></label>
                                    <input asp-for="Brand" class="form-control" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Color" class="control-label"></label>
                                    <input asp-for="Color" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label asp-for="Price" class="control-label"></label>
                                    <input asp-for="Price" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-2">
                            <button type="submit" class="btn btn-primary" >Update Cars info</button>
                            <a asp-action="Index" class="btn btn-success">Back to List</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>













