<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Car_Hire_Services__CHS_</title>
    <link href="~/css/css/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/sweetAlert2.css" rel="stylesheet" />
    <link href="~/css/css/css/bootstrap.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@

    <script>
        function successAlert() {
            swal({
                title: "Good job!",
                text: "You clicked the button!",
                icon: "success",
                button: "Aww yiss!",
            });
        }
    </script>



</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="col-12 text-center mt-2">
                <div class="container-fluid p-2 text-center text-white bg-primary">
                    <h3>SUCCESS CAR HIRE AND SALES SERVICES (SCHSS) USA</h3>
                </div>
                <ul class="nav text-center justify-content-center">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                        @*<a class="nav-link" href="">Home</a>*@
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Account" asp-action="Services" class="nav-link">Services</a>
                    </li>

                    @*<li class="nav-item">
                        <a asp-controller="Customer" asp-action="CustomerDetail" class="nav-link">CustomerDetail</a>
                    </li>*@

                    <li class="nav-item">
                          <a asp-controller="Account" asp-action="Register" class="nav-link">Register</a>
                    </li>

                    <li class="nav-item pt-1">
                        <button type="button" class="btn btn-primary">Search</button>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container-fluid">

        @RenderBody()

    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/CarSales.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/js/bootstrap.min.js"></script>
    <script src="~/js/sweetAlert2.js"></script>
    <script src="~/js/js/bootstrap.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
